.wrapper {
  align-items: center;
  border-left: 4px solid var(--light-brown-color);
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 80px;
  width: 100%;
}

.block {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.icon {
  color: var(--light-brown-color);
  height: 25px;
  width: 25px;
}

.heart__icon {
  height: 25px;
  width: 25px;

  path {
    stroke: var(--light-brown-color);
  }
}

.text {
  color: var(--brown-color);
  font: var(--font-text-3);
}

.link {
  color: var(--brown-color);
  font: var(--font-text-3);
  position: relative;
  text-decoration: none;

  &:before {
    background-color: var(--light-brown-color);
    bottom: -10%;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.5s;
    width: 0;
  }

  &:hover:before {
    width: 100%;
  }
}
