@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: var(--font-family-roboto);
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

body {
  background-color: var(--white-color);
}
