.block {
  align-items: center;
  border-bottom: 4px solid var(--light-brown-color);
  border-right: 4px solid var(--light-brown-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.title {
  color: var(--brown-color);
  margin-top: 80px;
  text-transform: uppercase;
  text-align: left;
  width: 73%;
}

.titleWord {
  color: var(--light-brown-color);
  text-transform: uppercase;
}

.advantagesBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.card {
  align-items: center;
  background-color: var(--beige-color);
  display: flex;
  justify-content: center;
  height: 120px;
  position: relative;
  width: 400px;
}

.text {
  color: var(--dark-color);
  font: var(--font-text-4);
  font-weight: 700;
}

.cat {
  bottom: 1%;
  height: 60px;
  position: absolute;
  right: 0;
  transform: scaleX(-1);
  width: 60px;
}

.icon {
  color: var(--light-brown-color) !important;
  height: 80px !important;
  position: absolute;
  top: -35%;
  width: 80px !important;
}
